@keyframes ldio-4p4l38lc3w7 {
	0% { transform: rotate(0) }
	100% { transform: rotate(360deg) }
}
.ldio-4p4l38lc3w7 div { box-sizing: border-box!important }
.ldio-4p4l38lc3w7 > div {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: 4px solid #000;
	border-color: #3c0f0f transparent #3c0f0f transparent;
	animation: ldio-4p4l38lc3w7 1.923076923076923s linear infinite;
}

.ldio-4p4l38lc3w7 > div:nth-child(2), .ldio-4p4l38lc3w7 > div:nth-child(4) {
	width: 40px;
	height: 40px;
	top: 6px;
	left: 6px;
	animation: ldio-4p4l38lc3w7 1.923076923076923s linear infinite reverse;
}
.ldio-4p4l38lc3w7 > div:nth-child(2) {
	border-color: transparent #f91a10 transparent #f91a10
}
.ldio-4p4l38lc3w7 > div:nth-child(3) { border-color: transparent }
.ldio-4p4l38lc3w7 > div:nth-child(3) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}
.ldio-4p4l38lc3w7 > div:nth-child(3) div:before, .ldio-4p4l38lc3w7 > div:nth-child(3) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	top: -4px;
	left: 20px;
	background: #3c0f0f;
	border-radius: 50%;
	box-shadow: 0 48px 0 0 #3c0f0f;
}
.ldio-4p4l38lc3w7 > div:nth-child(3) div:after {
	left: -4px;
	top: 20px;
	box-shadow: 48px 0 0 0 #3c0f0f;
}

.ldio-4p4l38lc3w7 > div:nth-child(4) { border-color: transparent; }
.ldio-4p4l38lc3w7 > div:nth-child(4) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
}
.ldio-4p4l38lc3w7 > div:nth-child(4) div:before, .ldio-4p4l38lc3w7 > div:nth-child(4) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	top: -4px;
	left: 14px;
	background: #f91a10;
	border-radius: 50%;
	box-shadow: 0 36px 0 0 #f91a10;
}
.ldio-4p4l38lc3w7 > div:nth-child(4) div:after {
	left: -4px;
	top: 14px;
	box-shadow: 36px 0 0 0 #f91a10;
}
.loadingio-spinner-double-ring-j8gvbikv8jl {
	width: 52px;
	height: 52px;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ldio-4p4l38lc3w7 {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.ldio-4p4l38lc3w7 div { box-sizing: content-box; }