.random-planet {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    min-height: 184px;
    position: relative;

    .planets-image {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        margin-right: 16px;
    }

    .list-group {
        margin: 1rem 0 0 0;

        &-item {
            padding: .25rem;

            .term {
                margin-right: .5rem;
            }
        }
    }

    + h3 {
        margin-top: 1rem;
    }
}
