html {
  min-height: 100%;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  text-align: center;
}

main {
  flex: 1;
  padding: 0 0 40px;
}

footer {
  text-align: center;
  padding: 16px 0;
}
