.app-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    .row {
        align-items: flex-start;
    }

    .col-md-6 {
        margin-top: 1rem;
        position: relative;
        min-height: 260px;
    }
}
