@keyframes ldio-xrrl5q33v6r {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ldio-xrrl5q33v6r div {
    box-sizing: border-box !important
}

.ldio-xrrl5q33v6r > div {
    position: absolute;
    width: 54.08px;
    height: 54.08px;
    top: 24.96px;
    left: 24.96px;
    border-radius: 50%;
    border: 4.16px solid #000;
    border-color: #5d5d5d transparent #5d5d5d transparent;
    animation: ldio-xrrl5q33v6r 1.639344262295082s linear infinite;
}

.ldio-xrrl5q33v6r > div:nth-child(2), .ldio-xrrl5q33v6r > div:nth-child(4) {
    width: 43.68px;
    height: 43.68px;
    top: 30.16px;
    left: 30.16px;
    animation: ldio-xrrl5q33v6r 1.639344262295082s linear infinite reverse;
}

.ldio-xrrl5q33v6r > div:nth-child(2) {
    border-color: transparent #e91f1f transparent #e91f1f
}

.ldio-xrrl5q33v6r > div:nth-child(3) {
    border-color: transparent
}

.ldio-xrrl5q33v6r > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-xrrl5q33v6r > div:nth-child(3) div:before, .ldio-xrrl5q33v6r > div:nth-child(3) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 4.16px;
    height: 4.16px;
    top: -4.16px;
    left: 20.8px;
    background: #5d5d5d;
    border-radius: 50%;
    box-shadow: 0 49.92px 0 0 #5d5d5d;
}

.ldio-xrrl5q33v6r > div:nth-child(3) div:after {
    left: -4.16px;
    top: 20.8px;
    box-shadow: 49.92px 0 0 0 #5d5d5d;
}

.ldio-xrrl5q33v6r > div:nth-child(4) {
    border-color: transparent;
}

.ldio-xrrl5q33v6r > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-xrrl5q33v6r > div:nth-child(4) div:before, .ldio-xrrl5q33v6r > div:nth-child(4) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 4.16px;
    height: 4.16px;
    top: -4.16px;
    left: 15.600000000000001px;
    background: #e91f1f;
    border-radius: 50%;
    box-shadow: 0 39.52px 0 0 #e91f1f;
}

.ldio-xrrl5q33v6r > div:nth-child(4) div:after {
    left: -4.16px;
    top: 15.600000000000001px;
    box-shadow: 39.52px 0 0 0 #e91f1f;
}

.loadingio-spinner-double-ring-4m0j0nih1wd {
    width: 104px;
    height: 104px;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ldio-xrrl5q33v6r {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-xrrl5q33v6r div {
    box-sizing: content-box;
}
