.item-list {
    min-height: 413px;
    margin-top: 1rem;

    .list-group-item {
        cursor: pointer;

        &:hover,
        &.selected {
            background-color: #444;
        }
    }
}
